force-app/main/default/flows/PE_Lead_Upsert_Portfolio_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_it_exists</name>
        <label>Check if it exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <description>Handles Lead upsert from Platform Event (Lead_Submission__e) triggered by LWR guest form.
Ensures idempotency using External_Id__c. Creates or updates Lead records asynchronously.</description>
    <environments>Default</environments>
    <interviewLabel>PE Lead Upsert Portfolio Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE Lead Upsert Portfolio Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Message__c</field>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <elementReference>$Record.Email_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_it_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.External_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Message__c</field>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Message__c</field>
            <value>
                <elementReference>Get_Lead_Record.Email_Message__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Lead_Submission__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
