force-app/main/default/flows/Schedule_Lead_Follow_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Lead_To_Update_Collection</name>
        <label>Add Lead To Update Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Follow_Up_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
    </assignments>
    <description>Runs daily to find leads with a follow-up date on or before today that have not yet been followed up and are still in Open - Not Contacted status. Creates a follow-up task and marks Follow_Up_Sent__c as true.</description>
    <environments>Default</environments>
    <interviewLabel>Schedule Lead Follow Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Lead Follow Up</label>
    <loops>
        <name>Loop_Through_Leads</name>
        <label>Loop Through Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Leads_Needing_Follow_Up</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Leads_Follow_Up_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Lead_To_Update_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>followUpTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Loop_Through_Leads.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>followUpTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Leads_Needing_Follow_Up</name>
        <label>Get Leads Needing Follow Up</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Follow_Up_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Follow_Up_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leads_Follow_Up_Sent</name>
        <label>Update Leads Follow Up Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>leadsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads_Needing_Follow_Up</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-03-30</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>followUpTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated follow-up reminder for lead {!Loop_Through_Leads.FirstName} {!Loop_Through_Leads.LastName} ({!Loop_Through_Leads.Email}). The follow-up date was {!Loop_Through_Leads.Follow_Up_Date__c}. Please reach out and update the lead status accordingly.</text>
    </textTemplates>
    <textTemplates>
        <name>followUpTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow Up - {!Loop_Through_Leads.FirstName} {!Loop_Through_Leads.LastName}</text>
    </textTemplates>
    <variables>
        <name>leadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
